@import '~bootstrap/scss/bootstrap';


footer {
    background-color: #303030;
    color: white;
    z-index: 99;
}

.links {
    background-image: url("../assets/img/footer-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    position: relative;

    p {
        color: grey;
        line-height: 10px;
    }

    img {
        position: absolute;
        top: -80px;
        right: 10%;
        width: 30%;

    }
}